.App {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  justify-content: space-around;
}

@media only screen and (max-width: 800px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
}